@using System.Collections
@using IST.Web.Models
@model IEnumerable<IST.Entities.Position>

@{
    ViewBag.Title = "Position";
    var sl = 1;
}


<div class="content">
    <div class="card border-teal">
        <div class="card-header bg-teal header-elements-inline">
            <h3 class="card-title"><strong>Position</strong></h3>
            <div class="header-elements">
                <div class="list-icons">
                    @*<a href="#" class="list-icons-item text-primary-600"><i class="icon-plus3"></i></a>*@
                </div>
            </div>
        </div>
        <hr class="hr-mar-reduce" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>@Html.DisplayNameFor(model => model.ShortName)</th>
                                    <th>@Html.DisplayNameFor(model => model.PositionName)</th>
                                    <th>@Html.DisplayNameFor(model => model.IsTicketProcess)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td class="serial">@(sl++)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ShortName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PositionName)</td>
                                    <th>@(item.IsTicketProcess?"Yes":"No")</th>
                                    <td>
                                        <div class="list-icons">
                                            <a href="#" class="list-icons-item text-primary-600" onclick="getDataForEdit('@item.Id')"><i class="icon-pencil7"></i></a>
                                            <a href="#" onclick="delete_Data('@item.Id')" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    @{PositionModel PositionModel = new PositionModel();}
                    @Html.Partial("~/Views/Position/_PositionAddOrEdit.cshtml", PositionModel)
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax-call")

    <script>
        function delete_Data(id) {
                var url = '@Url.Action("Delete", "Position")';
                var paramData = { id: id };
                delete_confirm(url, paramData);
            }
        function getDataForEdit(id) {
            var url = '@Url.Action("GetPositionDetailsById", "Position")';
            var paramData = { id: id };
            ajaxCall(url, paramData, "renderPositionEntryLoad");
        }
        function renderPositionEntryLoad(data) {
            var editUrl = '@Url.Action("Edit", "Position")';
            $('#PositionCreateForm').attr('action', editUrl);
            $("#PositionId").val(data.Id);
            $("#InitialName").val(data.PositionName);
            $("#PositionName").val(data.PositionName);           
            $("#ShortName").val(data.ShortName);
            if (data.IsTicketProcess == true) {
                $('#IsTicketProcess').attr('checked', 'checked');
            } else {
                $('#IsTicketProcess').removeAttr('checked');
            }
            $("#submitButton").html('<i class="fa fa-save"></i> Update');
        }
    </script>
}
