@using EIST.Common
@model EIST.Web.Models.TicketAssignModel
@{
    ViewBag.Title = "Ticket Assign";
}
@using (Html.BeginForm("Add", "TicketAssign", FormMethod.Post, new { Id = "ticketAssignForm" }))
{
    @Html.HiddenFor(model => model.IssueId)
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="card border-teal">
        <div class="card-header header-elements-inline bg-teal">
            <h3 class="card-title"><strong>Ticket Assign</strong></h3>
            <div class="header-elements">
            </div>
        </div>
        <hr class="hr-mar-reduce" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.AssigneeId)</label>
                        <div class="col-lg-8">
                            @Html.DropDownListFor(model => model.UserSelectList.SelectedId, new SelectList(Model.UserSelectList.SelectedValueList, "Id", "Username"), new { @multiple = "multiple", @class = "form-control select", @required = "required", @placeholder = "--Select--", @data_placeholder = "Search & Select" })
                            @Html.ValidationMessageFor(model => model.AssigneeId)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.Description)</label>
                        <div class="col-lg-8">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn bg-danger btn-custom" data-dismiss="modal"><i class="fa fa-times-circle text-white"></i> Close</button>
                <button type="submit" class="btn bg-teal btn-custom"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
}