@using EIST.Common
@using EIST.Web.Models
@model EIST.Web.Models.IssueModel

@{
    ViewBag.Title = "Ticket";
}

<!-- Content area -->
<div class="content">

    <!-- Basic layout-->
    <div class="card border-teal">
        <div class="card-header bg-teal header-elements-inline">
            <h3 class="card-title"><strong>Issue</strong></h3>
            <div class="header-elements">
                <div class="list-icons">
                    @*<a class="list-icons-item"><i class="icon-plus3"></i></a>*@
                </div>
            </div>
        </div>
        <hr class="hr-mar-reduce" />
        @using (Html.BeginForm("Add", "Issue", FormMethod.Post, new { enctype = "multipart/form-data", @id = "ticketCreateForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true);
            @Html.Hidden("InitialName", "undefined")
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.IssueTitle)</label>
                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.IssueTitle, new { @class = "form-control input-sm", @placeholder = "Issue Title" })
                                @Html.ValidationMessageFor(model => model.IssueTitle)
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<label class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.Description)</label>*@
                            <div class="col-lg-12">
                                @Html.TextAreaFor(model => model.Description, new { @placeholder = "Description", @id = "Description", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<label class="col-form-label col-lg-3">Attachments</label>*@
                            <div class="col-lg-12">
                                @{Html.RenderPartial("~/Views/Shared/_AttachmentFilePartial.cshtml");}
                            </div>
                        </div>

                        @* Comment Area *@
                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h6 class="card-title font-weight-semibold">Discussion</h6>
                                <div class="header-elements">
                                    <ul class="list-inline list-inline-dotted text-muted mb-0">
                                        <li class="list-inline-item">42 comments</li>
                                        <li class="list-inline-item">75 pending review</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-body">
                                <ul class="media-list">
                                    <li class="media flex-column flex-md-row">
                                        <div class="mr-md-3 mb-2 mb-md-0">
                                            <a href="#"><img src="../../../../global_assets/images/demo/users/face2.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
                                        </div>

                                        <div class="media-body">
                                            <div class="media-title">
                                                <a href="#" class="font-weight-semibold">William Jennings</a>
                                                <span class="text-muted ml-3">Just now</span>
                                            </div>

                                            <p id="commentContent">He moonlight difficult engrossed an it sportsmen. </p>
                                            <div class="editArea display-hidden">
                                                <div class="col-lg-12">
                                                    @Html.TextArea("EditComment", null, new { @class = "form-control", @id = "EditComment", @placeholder = "Edit Comment" })
                                                    @Html.ValidationMessage("EditComment")
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn btn-success btn-custom btn-right">Edit</button>
                                                    <button type="button" class="btn btn-danger btn-custom btn-right" onclick="cancelFunc()">Cancel</button>
                                                </div>
                                            </div>

                                            <ul class="list-inline list-inline-dotted font-size-sm">
                                                <li class="list-inline-item">
                                                    <i class="icon-heart6 text-pink mr-2"></i> 5<a href="#" class="mr-2"></a>
                                                    <i class="icon-comment-discussion mr-2"></i> 114<a href="#" class=" mr-2"></a>
                                                </li>
                                                <li class="list-inline-item"><a class="btn btn-custom" onclick="replyFunc(this)"><i class="icon-reply text-success"></i> Reply</a></li>
                                                <li class="list-inline-item"><a class="btn btn-custom" onclick="editFunc(this)"><i class="icon-pencil text-warning"></i> Edit</a></li>
                                            </ul>
                                            <div class="replyArea display-hidden">
                                                <div class="col-lg-12">
                                                    @Html.TextArea("ReplyComment", null, new { @class = "form-control", @id = "ReplyComment", @placeholder = "Reply Comment" })
                                                    @Html.ValidationMessage("ReplyComment")
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="btn btn-custom btn-success btn-right">Reply</button>
                                                    <button type="button" class="btn btn-custom btn-danger btn-right" onclick="cancelFunc()">Cancel</button>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <hr class="m-0">

                            <div class="card-body">
                                <h6 class="mb-3">Add comment</h6>
                                <div class="mb-3">
                                    @Html.TextArea("Comment", null, new { @placeholder = "Comment", @id = "Comment", @class = "form-control" })
                                    @Html.ValidationMessage("Comment")
                                </div>

                                <div class="text-right">
                                    <button type="button" class="btn btn-sm bg-blue"><i class="icon-plus22 mr-1"></i> Add comment</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.ProjectId)</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.ProjectList, "Id", "Name"), "--Choose--", new { @class = "form-control input-sm", @required = "required" })
                                @Html.ValidationMessageFor(model => model.ProjectId)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.LabelId)</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.LabelId, new SelectList(Model.IssueLabelList, "Id", "LabelTitle"), "--Choose--", new { @class = "form-control input-sm", @required = "required" })

                                @Html.ValidationMessageFor(model => model.LabelId)

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">@Html.DisplayNameFor(model => model.Milestone)</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.Milestone, new { @class = "form-control input-sm", @placeholder = "Milestone" })
                                @Html.ValidationMessageFor(model => model.Milestone)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">@Html.DisplayName("Assignee")</label>
                            <div class="col-lg-9">
                                @Html.DropDownList("AssigneeId", new SelectList(Model.UserList, "Id", "UserName"), "--Choose--", new { @class = "form-control input-sm", @required = "required" })
                                @Html.ValidationMessage("AssigneeId")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">@Html.DisplayName("Description")</label>
                            <div class="col-lg-9">
                                @Html.TextArea("Description", null, new { @class = "form-control", @placeholder = "Description" })
                                @Html.ValidationMessage("Description")
                            </div>
                        </div>

                        <div class="card">
                            <div class="custom-header header-elements-inline">
                                <h5 class="">Approval</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3">@Html.DisplayName("Remarks")</label>
                                            <div class="col-md-9">
                                                @*@(workflowItem != null ? workflowItem.Remarks : "")*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3">@Html.DisplayName("Approved By")</label>
                                            <div class="col-md-9">
                                                @*@(workflowItem != null ? workflowItem.Approver.FullName : "")*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3">@Html.DisplayName("Approved Status")</label>
                                            <div class="col-md-9">
                                                @*@(workflowItem != null ? workflowItem.ApprovalStatus : "") - @(workflowItem != null ? string.Format("{0:dd-MMM-yyyy hh:mm tt}", workflowItem.UpdatedAt) : "")*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("Index", "Ticket")" class="btn btn-danger btn-custom"><i class="fa fa-times-circle text-white"></i> Cancel</a>
                    <button type="button" class="btn bg-teal btn-custom ml-3" onclick="formSubmit()"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        }
    </div>
    <!-- /basic layout -->
</div>
<!-- /content area -->

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor")
    <script type="text/javascript">

        function replyFunc(obj) {
            $(".replyArea").removeClass("display-hidden");
            $(".editArea").addClass("display-hidden");
            $("#commentContent").show();
        }
        function cancelFunc() {
            $(".replyArea").addClass("display-hidden");
            $(".editArea").addClass("display-hidden");
            $("#commentContent").show();
        }
        function editFunc(obj) {
            $("#commentContent").hide();
            $(".editArea").removeClass("display-hidden");
            $(".replyArea").addClass("display-hidden");
        }

        $(document).ready(function () {
            CKEDITOR.replace('Comment', {
                // Define the toolbar groups as it is a more accessible solution.
                toolbarGroups: [{
                    "name": "basicstyles",
                    "groups": ["basicstyles"]
                },
                {
                    "name": "paragraph",
                    "groups": ["list", "blocks"]
                },
                {
                    "name": "insert",
                    "groups": ["insert"]
                },
                {
                    "name": "styles",
                    "groups": ["styles"]
                }
                ],
                // Remove the redundant buttons from toolbar groups defined above.
                removeButtons: 'Image'
            });
            CKEDITOR.replace('ReplyComment', {
                // Define the toolbar groups as it is a more accessible solution.
                toolbarGroups: [{
                    "name": "basicstyles",
                    "groups": ["basicstyles"]
                },
                {
                    "name": "paragraph",
                    "groups": ["list", "blocks"]
                },
                {
                    "name": "insert",
                    "groups": ["insert"]
                },
                {
                    "name": "styles",
                    "groups": ["styles"]
                }
                ],
                // Remove the redundant buttons from toolbar groups defined above.
                removeButtons: 'Image'
            });
            CKEDITOR.replace('EditComment', {
                // Define the toolbar groups as it is a more accessible solution.
                toolbarGroups: [{
                    "name": "basicstyles",
                    "groups": ["basicstyles"]
                },
                {
                    "name": "paragraph",
                    "groups": ["list", "blocks"]
                },
                {
                    "name": "insert",
                    "groups": ["insert"]
                },
                {
                    "name": "styles",
                    "groups": ["styles"]
                }
                ],
                // Remove the redundant buttons from toolbar groups defined above.
                removeButtons: 'Image'
            });
        });

        function formSubmit() {
            rearrangeNameSuffix("#attachmentFileTBody");
            $("#ticketCreateForm").submit();
        }
    </script>
}