@using EIST.Common
@using EIST.Web.Models
@model EIST.Web.Models.IssueModel

@{
    ViewBag.Title = "Details";
    int rowNo = 1;
    int authenticatedUserId = AuthenticatedUser.GetUserFromIdentity().UserId;
    bool IsRoleUser = new UserModel().CheckUserRole(authenticatedUserId, Enum.GetName(typeof(EnumUserRoleStatus), EnumUserRoleStatus.Manager));
    var workflowItem = new WorkflowModel();
    var workflowList = new WorkflowModel().GetWorkflowsByRecordId(Model.Id, Enum.GetName(typeof(EnumWorkflowFormStatus), EnumWorkflowFormStatus.Ticket)).ToList();
    if (workflowList.Any())
    {
        foreach (var item in workflowList)
        {
            workflowItem.Approver = item.Approver;
            workflowItem.ApprovalStatus = item.ApprovalStatus;
            workflowItem.Remarks = item.Remarks;
        }
    }
    else
    {
        workflowItem = null;
    }
}

<style>
    /*.cust-details-row {
        margin: 2px;
    }*/

    /*.cust-details-row label {
            font-weight: bold;
        }*/
</style>

<!-- Content area -->
<div class="content">

    <!-- Basic layout-->
    <div class="card border-teal">
        <div class="card-header bg-teal header-elements-inline">
            <h5 class="card-title"><strong>Issue</strong></h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a href="@Url.Action("Details","Ticket")" title="Back" class="list-icons-item"><i class="icon-arrow-left52"></i></a>
                </div>
            </div>
        </div>
        <hr class="hr-mar-reduce" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row cust-details-row">
                        <label class="col-md-3">@Html.DisplayNameFor(model => model.IssueTitle)</label>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.IssueTitle)
                        </div>
                    </div>
                  
                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                <div class="form-group row cust-details-row">
                    <label class="col-md-3">@Html.DisplayNameFor(model => model.Description)</label>
                    <div class="col-md-7">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
                    }
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th colspan="2" style="font-size:17px;">Attachment</th>
                            </tr>
                            <tr>
                                <th>#SL</th>
                                <th>@Html.DisplayName("File")</th>
                            </tr>
                        </thead>
                        <tbody id="attachmentFileTBody">
                            @if (Model.AttachmentFileCollection.Any())
                            {
                                foreach (var item in Model.AttachmentFileCollection)
                                {
                                    <tr>
                                        <td class="serial">
                                            @(rowNo++)
                                        </td>
                                        <td>
                                            <a class="title" target="_blank" href='@Url.Content(String.Format("~{0}", item.FileLocation))'>
                                                <img height="25" src="@Url.Content(String.Format("~{0}", FileExtension.GetFileExtensionThumbnail(item.FileExtension)))" />  @item.OriginalName
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="serial">@(rowNo++)</td>
                                    <td colspan="3" class="text-muted">No files found</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
                <div class="col-md-6">
                    <div class="form-group row cust-details-row">
                        <label class="col-md-3">@Html.DisplayNameFor(model => model.Code)</label>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.Code)
                        </div>
                    </div>
                    <div class="form-group row cust-details-row">
                        <label class="col-md-3">@Html.DisplayNameFor(model => model.ProjectId)</label>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.Project.Name)
                        </div>
                    </div>

                    <div class="form-group row cust-details-row">
                        <label class="col-md-3">@Html.DisplayNameFor(model => model.LabelId)</label>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.IssueLabel.LabelTitle)
                        </div>
                    </div>
                    <div class="form-group row cust-details-row">
                        <label class="col-md-3">@Html.DisplayNameFor(model => model.Milestone)</label>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.Milestone)
                        </div>
                    </div>
                    <div class="form-group row cust-details-row">
                        <label class="col-md-3">@Html.DisplayNameFor(model => model.Priority)</label>
                        <div class="col-md-7">
                            @(Model.Priority ? "Yes" : "No")
                        </div>
                    </div>
                    <div class="form-group row cust-details-row">
                            <label class="col-md-3">@Html.DisplayNameFor(model => model.Status)</label>
                            <div class="col-md-7">
                                <label class="badge badge-info">@Enum.GetName(typeof(EnumTicketStatus), Model.Status)</label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content area -->
