@model IEnumerable<IST.Entities.TicketAssign>
@using IST.Common;
@{
    ViewBag.Title = "TicketAssign";
    var serial = 1;
}

<!-- Table with togglable columns -->
<div class="card border-teal">
    <div class="card-header header-elements-inline bg-teal">
        <h5 class="card-title"><strong>Ticket Assign</strong></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a href="@Url.Action("Add","TicketAssign")" class="list-icons-item text-white" title="New Property"><i class="icon-plus3"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">

    </div>
    <table class="table table-togglable table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th data-toggle="true">@Html.DisplayNameFor(model => model.Ticket.IssueName)</th>
                <th data-hide="phone">@Html.DisplayNameFor(model => model.Description)</th>
                <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.Remarks)</th>
                <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.Code)</th>
                <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.Status)</th>
                <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.User.FullName)</th>
                @*<th data-hide="phone">Status</th>*@
                <th class="text-center" style="width: 30px;">@*<i class="icon-menu-open2"></i>*@ Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="serial">@(serial++)</td>
                    <td>@item.Ticket.IssueName</td>
                    <td>@item.Description</td>
                    <td>@item.Remarks</td>
                    <td>@item.Code</td>
                  
                    <td>@Enum.GetName(typeof(EnumTicketAssignStatus), item.Status)</td>
                    <td>@item.User.FullName</td>
                    @*<td><span class="badge badge-success">Active</span></td>*@
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="@Url.Action("Details","TicketAssign", new { id = item.Id })" class="dropdown-item text-info"><i class="icon-eye"></i> Details</a>
                                    <a href="@Url.Action("Edit","TicketAssign", new { id = item.Id })" class="dropdown-item text-primary"><i class="icon-pencil7"></i> Edit</a>
                                    <a href="#" onclick="delete_Data('@item.Id')" class="dropdown-item text-danger"><i class="icon-bin"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- table with togglable columns -->

@section scripts{
    @Scripts.Render("~/bundles/table-responsive")
    @Scripts.Render("~/bundles/ajax-call")
    <script>

        function delete_Data(id) {
            var url = '@Url.Action("Delete", "TicketAssign")';
            var paramData = { id: id };
            delete_confirm(url, paramData);
        }
    </script>
}
