@using System.Collections
@using EIST.Web.Models
@model IEnumerable<EIST.Entities.IssueLabel>

@{
    ViewBag.Title = "IssueLabel";
    var sl = 1;
}

<div class="content">
    <div class="card border-teal">
        <div class="card-header bg-teal header-elements-inline">
            <h3 class="card-title"><strong>Issue Label</strong></h3>
            <div class="header-elements">
                <div class="list-icons">
                    @*<a href="#" class="list-icons-item text-primary-600"><i class="icon-plus3"></i></a>*@
                </div>
            </div>
        </div>
        <hr class="hr-mar-reduce" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>@Html.DisplayNameFor(model => model.LabelTitle)</th>
                                    <th>@Html.DisplayNameFor(model => model.ColorCode)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="serial">@(sl++)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LabelTitle)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ColorCode)</td>
                                        <td>
                                            <div class="list-icons">
                                                <a href="#" class="list-icons-item text-primary-600" onclick="getDataForEdit('@item.Id')"><i class="icon-pencil7"></i></a>
                                                <a href="#" onclick="delete_Data('@item.Id')" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    @{IssueLabelModel issueLabelModel = new IssueLabelModel();}
                    @Html.Partial("~/Views/IssueLabel/_IssueLabelAddOrEdit.cshtml", issueLabelModel)
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax-call")

    <script>
        function delete_Data(id) {
                var url = '@Url.Action("Delete", "IssueLabel")';
                var paramData = { id: id };
                delete_confirm(url, paramData);
            }
        function getDataForEdit(id) {
            
            var url = '@Url.Action("GetIssueLabelDetailsById", "IssueLabel")';
            var paramData = { id: id };
            ajaxCall(url, paramData, "renderIssueLabelEntryLoad");
             
        }
        function renderIssueLabelEntryLoad(data) {
            console.log("Hi");
            var editUrl = '@Url.Action("Edit", "Issuelabel")';
            $('#IssueLabelCreateForm').attr('action', editUrl);
            $("#IssueLabelId").val(data.Id);
            $("#InitialLabelTitle").val(data.LabelTitle);
            $("#LabelTitle").val(data.LabelTitle);
            $("#ColorCode").val(data.ColorCode);
            $("#submitButton").html('<i class="fa fa-save"></i> Update');
        }
    </script>
}

