@using IST.Common
@using IST.Web.Models

@{
    var userName = "Unknown";
    var userFullName = "Unknown";
    var userImageUrl = "~/Content/images/no-image.jpg";
    if (Request.IsAuthenticated && AuthenticatedUser.GetUserFromIdentity() != null)
    {
        userName = AuthenticatedUser.GetUserFromIdentity().Username;
        userFullName = AuthenticatedUser.GetUserFromIdentity().FullName;
        userImageUrl = AuthenticatedUser.GetUserFromIdentity().ImageLink;
    }
}

<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark navbar-sticky">
    <div class="">
        <a href="@Url.Action("Index","Home")" class="d-inline-block">
            <img src="@Url.Content("~/Content/images/logo.png")" height="55" alt="">
        </a>
    </div>
    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            @if (User.IsInRole("Ticket_Configuration") || User.IsInRole("Global_SupAdmin"))
            {
                <li class="nav-item">
                    <a href="@Url.Action("Add","Ticket")" class="navbar-nav-link ">
                        <i class="icon-ticket mr-2"></i>Ticket
                    </a>
                </li>
            }
            @if (User.IsInRole("User_Configuration") || User.IsInRole("Role_Configuration") || User.IsInRole("Global_SupAdmin"))
            {
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-address-card mr-2"></i>Users
                    </a>
                    <div class="dropdown-menu">
                        @if (User.IsInRole("User_Configuration") || User.IsInRole("Global_SupAdmin"))
                        {
                            <a href="@Url.Action("Index", "User")" class="dropdown-item"><i class="fa fa-user-check"></i>User</a>
                        }
                        @if (User.IsInRole("Role_Configuration") || User.IsInRole("Global_SupAdmin"))
                        {
                            <a href="@Url.Action("Roles", "User")" class="dropdown-item"><i class="fa fa-users"></i>User Roles</a>
                        }
                    </div>
                </li>
            }
            @if (User.IsInRole("Position_Configuration") || User.IsInRole("Company_Configuration") || User.IsInRole("Company_Project_Configuration") || User.IsInRole("Global_SupAdmin"))
            {
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog4 mr-2"></i>Settings
                    </a>
                    <div class="dropdown-menu">
                        @if (User.IsInRole("Position_Configuration") || User.IsInRole("Global_SupAdmin"))
                        {
                            <a href="@Url.Action("Index", "Position")" class="dropdown-item"><i class="fa fa-list-alt"></i>Position</a>
                        }
                        @if (User.IsInRole("Company_Configuration") || User.IsInRole("Global_SupAdmin"))
                        {
                            <a href="@Url.Action("Index", "Company")" class="dropdown-item"><i class="fa fa-building"></i>Company</a>
                        }
                        @if (User.IsInRole("Company_Project_Configuration") || User.IsInRole("Global_SupAdmin"))
                        {
                            <a href="@Url.Action("Index", "CompanyProject")" class="dropdown-item"><i class="fa fa-file-contract"></i>Company Project</a>
                        }
                    </div>
                </li>
            }
            @if (User.IsInRole("Ticket_Configuration") || User.IsInRole("Ticket_Assign_Configuration") || User.IsInRole("Global_SupAdmin"))
            {
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-chart mr-2"></i>Reports
                    </a>
                    <div class="dropdown-menu">
                        @if (User.IsInRole("Ticket_Configuration") || User.IsInRole("Global_SupAdmin"))
                        {
                            <a href="@Url.Action("Index", "Ticket")" class="dropdown-item"><i class="icon-ticket mr-2"></i> Ticket</a>
                        }
                        @if (User.IsInRole("Ticket_Assign_Configuration") || User.IsInRole("Global_SupAdmin"))
                        {
                            <a href="@Url.Action("Index", "TicketAssign")" class="dropdown-item"><i class="icon-book-play mr-2"></i>Ticket Assign</a>
                        }
                    </div>
                </li>
            }
        </ul>
        <ul class="navbar-nav ml-md-auto">
            @*<li class="navbar-brand wmin-0">
                <a href="@Url.Action("Index","Home")" class="d-inline-block">
                    <img src="~/Content/images/Siemens-logo.png" class="img-flag mr-2" alt="">
                </a>
            </li>*@
            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    <img src="@Url.Content(userImageUrl)" class="rounded-circle mr-2" height="34" alt="">
                    <strong>@userFullName</strong>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                    <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                    <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                    <a href="@Url.Action("LogOut","User")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->
